.top {
    display: grid;
    border-style: solid;
    text-align: center;
}

.box, .box2{
    display: flexbox;
    border-style: solid;
    text-align:  center;
}


.main {
    display: flex;
    border-style: solid;
    border-color: salmon;
}